.card {
  position: relative;
  background-color: var(--dark-gray);
  border: thin solid var(--gray);
  border-radius: 12px;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: rgba(var(--white-rgb), 0.08);
    border-color: rgba(var(--white-rgb), 0.2);
  }
}

.playArea {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.favoriteButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: rgba(var(--gray-rgb), 0.5);
  border: thin solid rgba(var(--white-rgb), 0.1);
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in;

  & .favoriteIcon {
    color: var(--light-gray);
  }

  &.isFavorite {
    background-color: rgba(var(--yellow-rgb), 0.2);
    background-color: rgba(var(--yellow-rgb), 0.3);

    & .favoriteIcon {
      color: var(--yellow);
      fill: var(--yellow);
    }
  }
}

.content {
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  flex: 1;
  word-break: break-word;
}

.settingsButton {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.settingsContainer {
  position: absolute;
  bottom: calc(100% + 12px);
  right: 0;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
