@mixin heading-2-bold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.heading-2-bold {
  @include heading-2-bold-mixin;
}

@mixin heading-4-bold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: normal;
}

.heading-4-bold {
  @include heading-4-bold-mixin;
}

@mixin heading-5-bold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.heading-5-bold {
  @include heading-5-bold-mixin;
}

@mixin heading-6-bold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.22px;
}

.heading-6-bold {
  @include heading-6-bold-mixin;
}

@mixin body-lg-regular-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.body-lg-regular {
  @include body-lg-regular-mixin;
}

@mixin label-md-bold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
}

.label-md-bold {
  @include label-md-bold-mixin;
}

@mixin body-md-regular-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.body-md-regular {
  @include body-md-regular-mixin;
}

@mixin body-md-semibold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.body-md-semibold {
  @include body-md-semibold-mixin;
}

@mixin body-md-bold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.body-md-bold {
  @include body-md-bold-mixin;
}

@mixin body-sm-regular-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
}

.body-sm-regular {
  @include body-sm-regular-mixin;
}

@mixin body-sm-semibold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
}

.body-sm-semibold {
  @include body-sm-semibold-mixin;
}

@mixin body-sm-bold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;
}

.body-sm-bold {
  @include body-sm-bold-mixin;
}

@mixin body-xs-regular-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
}

.body-xs-regular {
  @include body-xs-regular-mixin;
}

@mixin body-xs-semibold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
}

.body-xs-semibold {
  @include body-xs-semibold-mixin;
}

@mixin body-xxs-semibold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: normal;
}

.body-xxs-semibold {
  @include body-xxs-semibold-mixin;
}

@mixin body-xs-bold-mixin {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: normal;
}

.body-xs-bold {
  @include body-xs-bold-mixin;
}

.uppercase {
  text-transform: uppercase;
}
