.default-mode {
  --primary: #2563eb;
  --primary-rgb: 37, 99, 235;
  --primary-vanished: #eaf1ff;

  --yellow: #f4b400;
  --yellow-rgb: 244, 180, 0;
  --yellow-vanished: #fff6db;

  --dark: #0d0d0d;
  --dark-rgb: 27, 27, 27;

  --gray: #2f2f2f;
  --gray-rgb: 47, 47, 47;

  --dark-gray: #1b1b1b;
  --dark-gray-rgb: 27, 27, 27;
  --mid-gray: #7a7a7a;
  --light-gray: #bfbfbf;
  --mega-light-gray: #e5e5e5;
  --mega-light-gray-rgb: 229, 229, 229;

  --green: #2e7d32;
  --green-rgb: 46, 125, 50;

  --blue: #1d4ed8;
  --blue-rgb: 29, 78, 216;
  --blue-vanished: #e8efff;

  --red: #dc2626;
  --red-rgb: 220, 38, 38;

  --white: #ffffff;
  --white-rgb: 255, 255, 255;

  --black: #000000;
  --black-rgb: 0, 0, 0;
}

html {
  --primary-text-color: var(--white);
  --primary-text-color-rgb: var(--white-rgb);
  --secondary-text-color: var(--light-gray);
  --accent-primary-text-color: var(--primary);
  --accent-succes-text-color: var(--green);
  --accent-info-text-color: var(--blue);
  --accent-error-text-color: var(--red);
  --accent-disabled-text-color: var(--light-gray);
  --body-text-color: var(--mega-light-gray);
}

.primary-text-color {
  color: var(--primary-text-color);
}

.secondary-text-color {
  color: var(--secondary-text-color);
}

.body-text-color {
  color: var(--body-text-color);
}

.mid-gray-text-color {
  color: var(--mid-gray);
}

.accent-primary-text-color {
  color: var(--accent-primary-text-color);
}

.accent-succes-text-color {
  color: var(--accent-succes-text-color);
}

.accent-error-text-color {
  color: var(--accent-error-text-color);
}

.accent-disabled-text-color {
  color: var(--accent-disabled-text-color);
}

.accent-info-text-color {
  color: var(--accent-info-text-color);
}

.white-text-color {
  color: var(--white);
}
