.clearLibraryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border: thin solid rgba(var(--red-rgb), 0.5);
  border-radius: 14px;
  background-color: rgba(var(--red-rgb), 0.05);
}

.buttonWrapper {
  flex-shrink: 0;
}

.content {
  margin: 24px;
}

.text {
  @include body-sm-semibold-mixin;
  color: var(--primary-text-color);
  margin: 0;
}

.filesList {
  margin: 12px 0 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fileItem {
  @include body-md-semibold-mixin;
  color: var(--secondary-text-color);
  word-break: break-word;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  gap: 12px;
}
