.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  border-bottom: thin solid transparent;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.container {
  margin-top: 24px;
  margin-left: 32px;
  margin-right: 32px;
}

.titleWrapper {
  margin-bottom: 40px;
}

.headerIconWrapper {
  width: 52px;
  height: 52px;
  border-radius: 16px;
  background-color: rgba(var(--gray-rgb), 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.headerIcon {
  color: rgba(var(--purple-rgb), 0.6);
}

.section {
  padding: 24px;
  background-color: var(--gray-800);
  border-radius: 16px;
  border: thin solid var(--gray);

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &.filePathsSection {
    .sectionIcon {
      color: var(--primary);
    }
  }

  &.dataSection {
    .sectionIcon {
      color: var(--purple);
    }
  }

  &.androidSection {
    .sectionIcon {
      color: var(--blue);
    }
  }

  &.maintenanceSection {
    .sectionIcon {
      color: var(--red);
    }
  }
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
