.wrapper {
  margin-left: 32px;
  margin-right: 32px;
  padding-top: 68px;
}

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.headerIconWrapper {
  width: 52px;
  height: 52px;
  border-radius: 16px;
  background-color: rgba(var(--gray-rgb), 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.section {
  padding: 24px;
  background-color: var(--dark-gray);
  border-radius: 16px;
  border: thin solid var(--gray);

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &.filePathsSection {
    .sectionIcon {
      color: var(--primary);
    }
  }

  &.dataSection {
    .sectionIcon {
      color: var(--purple);
    }
  }

  &.maintenanceSection {
    .sectionIcon {
      color: var(--red);
    }
  }
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
