.vpxDirectoryWrapper {
  margin-bottom: 32px;

  & .noteRow {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;
  }

  & .note {
    flex: 1;
  }

  & .warningNote {
    margin-top: 8px;
    color: var(--yellow);
  }

  & .vpxDownloadLink {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--gray-500);
    transition: color 200ms ease-out;

    &:hover {
      color: var(--blue);
    }
  }
}

.inputWrapper {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.settingOption {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.lockedSettingsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
