.vpxDirectoryWrapper {
  margin-bottom: 32px;

  & .note {
    margin-top: 8px;
  }
}

.inputWrapper {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.settingOption {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.lockedSettingsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
