.romInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.assignButton {
  padding: 4px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 4px;

  &.romExpected {
    background-color: rgba(var(--yellow-rgb), 0.1);

    & > span {
      color: var(--yellow);
    }

    .assignIcon {
      color: var(--yellow);
    }

    .chevronIcon {
      color: var(--yellow);
    }
  }

  &.noRomExpected {
    background-color: rgba(var(--gray-rgb), 0.8);

    & > span {
      color: var(--gray-500);
    }

    .assignIcon {
      color: var(--gray-500);
    }

    .chevronIcon {
      color: var(--gray-500);
    }
  }
}

.chevronIcon {
  transition: transform 200ms ease-in;

  &.open {
    transform: rotate(180deg);
  }
}

.assignRom {
  position: relative;
}
